@media screen and (min-width: 960px) {

    .immovable_content {
        height: 10vh;
        overflow:hidden;
    }
    .immovable_content h1 {
        font-size: 3em;
        text-align:center;
    }

    .movable_content {
        overflow: auto;
        height: 100%;
        display: inline-block;
    }

    .movable_content .image {
        display:inline-block;
        margin: 1em;
    }
    .movable_content .image img {
        width: 20vh;
        height: auto;
    }
}
@media screen and (max-width: 960px) {

    .immovable_content {
        overflow: unset;
    }

    .movable_content {
        overflow: scroll;
    }
}
